/* start of declaration of font family */

@font-face {
  font-family: "Cubano";
  src: url("./fonts/Cubano.ttf");
}

@font-face {
  font-family: "ProximaNova";
  src: url("./fonts/proximanova_regular.ttf");
}

@font-face {
  font-family: "SFPro";
  src: url("./fonts/SF-Pro.ttf");
}

/* end of declaration of font family */

/* start of declaration of variables */
/* Originally #2b71c6 */

:root {
  --primary-color: black;
  --secondary-color: #4d5055;
  --shadow-color: #3e6b9a00;
}

/* end of declaration of variables */

/* start of global styles */

body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-size: 20px;
  font-family: ProximaNova, SFPro, Arial, Helvetica, sans-serif;
  /* fallback */
  color: var(--primary-color);
  background-color: white;

  @media (width < 900px) {
    font-size: 18px;
  }
}

a {
  /* Was underline, var(--secondary-color) */
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

table th,
table td {
  text-align: left;
}

/* end of global styles */

/* start of navbar styles */

#navbar {
  display: flex;
  justify-content: space-between;

  font-family: ProximaNova, SFPro;
  color: white;

  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0px;

  @media (width < 900px) {
    flex-direction: column;
  }
}

#navbar-offset {
  position: absolute;
  top: -64px;
}

#nav-header {
  display: flex;
  justify-content: space-between;
}

#nav-button {
  display: none;

  width: 64px;
  height: 64px;
  padding: 16px 18px;
  font-size: 32px;
  background-color: transparent;
  color: white;
  border: none;

  @media (width < 900px) {
    display: block;
  }
}

#logo {
  height: 80px;

  @media (width < 900px) {
    height: 64px;
  }
}

#nav-items {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  list-style: none;
  margin: 0px 40px;

  @media (width >=900px) {
    display: flex;
  }

  @media (width < 900px) {
    display: none;
    flex-direction: column;
    gap: 16px;

    margin: 16px 16px;
  }
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 16px;

  @media (width < 900px) {
    justify-content: right;
  }
}

.nav-link {
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

/* end of navbar styles */

/* start of common styles */

.landing-point {
  position: relative;
  bottom: 64px;
}

#banner {
  width: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  font-family: ProximaNova, SFPro;
}

#general-section {
  text-align: center;
  gap: 0px;
}

#general-text {
  max-width: 70%;
  margin: 0 auto;

  @media (width < 900px) {
    max-width: 80%;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 32px;

  padding: 40px 64px;

  @media (width < 900px) {
    gap: 20px;

    padding: 24px 24px;
  }
}

.photo {
  box-shadow: 0px 0px 2px 2px var(--shadow-color);
  border-radius: 8px;
}

.hanmer-table td:first-child {
  padding: 0 20px;
  text-align: right;
}

#footer {
  /* original padding 64px & 32px */
  display: flex;
  flex-direction: column;
  gap: 16px;

  text-align: center;
  border-top: 1px solid var(--shadow-color);
  padding-top: 16px;
  padding-bottom: 32px;
  margin: 0px 0px 0px 0px;
  background-color: white;
  color: var(--primary-color);

  @media (width < 900px) {
    padding-top: 16px;
    padding-bottom: 32px;
    margin: 0px 0px 0px 0px;
  }
}

/* end of common styles */